/* Add CSS styling here */
/* IMPORTANT - CSS Reset  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Of CSS Reset */
body {
  background: url('/img/geometric-background_23-2148573776.jpg');
  background-size: cover;
  text-align: center;
  max-width: 100%;
}

/* Button */
button {
  background-color: rgb(53, 48, 48);
  color: rgb(255, 251, 0);
  border: 5px solid black;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* Text */
h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 5em;
  color: rgb(255, 251, 2);
  text-shadow: 5px 5px 5px black;
}

h1:hover {
  color: white;
  cursor:crosshair;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

p {
  font-family: 'Nerko One', cursive;
  font-size: 20px;
}
/* Nav */
nav {
  display: flex;
  text-decoration:  none;
}

nav a {
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 2em;
  border: 2px solid black;
  padding: 25px 25px;
}

nav a:hover {
  color: yellow;
  background-color: black;
}

/* Containes / images */
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
}

.box {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px 10px;
}

.big-img {
  display: flex;
  justify-content: center;
  border: 5px solid black ;
  width: fit-content;
  align-items: center;
}

.big-img img {
  width: 100%;
}

/* footer */
footer {
  background: bottom rgb(124, 120, 124);
  padding: 10px;
}

/* Media */
@media screen and (max-width: 500px) {
  nav, footer, #container {
    flex-direction: column;
    width: 100%;
  }

  .box {
    width: 50%;
  }

  footer {
    background-color: rgb(34, 10, 245);
  }
}

@media screen and (max-width: 800px) {
  body {
    background: url('/img/wp3537552.jpg');
    background-size: cover;
  }
}